.transaction-row-2-1 {
  align-items: flex-start;
  display: flex;
  height: 50px;
  margin-top: 10px;
  min-width: 370px;
  position: relative;
}

.x000-1 {
  height: 25px;
  letter-spacing: 0;
  line-height: 25px;
  margin-left: 241px;
  margin-top: -1.05px;
  min-width: 53px;
  text-align: right;
  white-space: nowrap;
}

.transaction-row-2-1.transaction-row-2 .x000-1 {
  margin-left: 242px;
  min-width: 52px;
}

