.button {
  height: 40px;
  left: 229px;
  position: absolute;
  top: 0;
}

.button {
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue","Arial","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

