.pl-card {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 280px;
  margin-top: 70px;
  overflow: hidden;
  padding: 19px 0;
  position: relative;
  width: 450px;
}

.title-1 {
  height: 29px;
  letter-spacing: 0;
  width: 370px;
}

.comment {
  color: var(--heavy-metal);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 21px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 19px;
  text-align: center;
  white-space: nowrap;
  width: 370px;
}

